{% extends 'base.html' %}

{% block content %}
    <div class="layui-container">
        <blockquote class="layui-elem-quote">注意：下述演示中的颜色只是做一个区分作用，并非栅格内置。</blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>始终等比例水平排列</legend>
        </fieldset>

        <div class="layui-col-xs6">
            <div class="grid-demo grid-demo-bg1">6/12</div>
        </div>
        <div class="layui-col-xs3">
            <div class="grid-demo grid-demo-bg1">3/12</div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md9">
              你的内容 9/12
            </div>
            <div class="layui-col-md3">
              你的内容 3/12
            </div>
        </div>
    </div>

    <span class="layui-badge">6</span>
    <span class="layui-badge">99</span>
    <span class="layui-badge">处理中</span>
    <span class="layui-badge">赤</span>
    <span class="layui-badge layui-bg-orange">橙</span>
    <span class="layui-badge layui-bg-green">完成</span>
    <span class="layui-badge layui-bg-cyan">青</span>
    <span class="layui-badge layui-bg-blue">蓝</span>
    <span class="layui-badge layui-bg-black">黑</span>
    <span class="layui-badge layui-bg-gray">灰</span>

{% endblock %}
{% block js %}
{% endblock %}