{% extends 'master.html' %}
{% block title %} Index {% endblock %}
{% block name %} L O G I N {% endblock %}

{% block content %}
<!-- Start Sign In Form -->
<form action="/login/" method="post" class="fh5co-form animate-box" data-animate-effect="fadeInLeft">
    {% csrf_token %}
    <h2>Sign In</h2>
    <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="remember"><input type="checkbox" id="remember" name="remember" value="1"> Remember Me</label>
    </div>
    <div class="form-group">
        <p>Not registered? <a href="/register/">Sign Up</a> | <a href="/forgot/">Forgot Password?</a></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Sign In" class="btn btn-primary">
        <span style="color: red">{{ error_msg }}</span>
    </div>
</form>
<!-- END Sign In Form -->
{% endblock %}
