<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table模块</title>
  <link rel="stylesheet" href="/static/css/layui.css" media="all">
</head>
<body>
    <table border="0">
        <thead>
        <tr>
            <th>序号</th>
            <th>域名</th>
            <th>上线日期</th>
            <th>申请日期</th>
            <th>产品</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>

    {% for item in obj %}
        {% for value1 in item.domain_info_set.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ value1.domain }}</td>
            <td style="padding: 10px;">{{ value1.online_date }}</td>
            <td>{{ value1.apply_date }}</td>
            <td>{{ value1.product.name }}</td>
            <td>{{ value1.status }}</td>
        </tr>
        {% endfor %}
        {% for value2 in item.op_domain_set.all %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ value2.domain }}</td>
            <td>{{ value2.online_date }}</td>
            <td>{{ value2.apply_date }}</td>
            <td>{{ value2.product.name }}</td>
            {% if value2.status in '0' %}
            <td><span class="layui-badge">处理中</span></td>
            {% else %}
            <td><span class="layui-badge layui-bg-green">已完成</span></td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>


<script src="/static/layui.js"></script>
<script>
    layui.use('table', function() {
        var table = layui.table;
    });
</script>
</body>
</html>